<h1 class="super-heading">HEROES-4-HIRE</h1>

<div class="new_hero">
  <%= link_to "Add a Superhero", new_superhero_path, class:"add-hero"%>
</div>

<div class="superheros">
  <div class="cards">
    <% @superheros.each do |superhero| %>
      <div class="card">
        <img src="<%= superhero.photo_url %>" alt="<%= superhero.name %>">
        <div class="card-text">
          <div class="info">
            <h2><%= superhero.name.upcase %></h2>
            <p><strong>Superpower:</strong> <%= superhero.superpower %></p>
          </div>
          <%= link_to "More Info",  superhero_path(superhero), class:"info-button"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
