<h1>Create a new Superhero</h1>

<div class="create_form_container">
  <div class ="create_form_card">
    <%= simple_form_for(@superhero) do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :superpower%>
        <%= f.input :description %>
        <%= f.input :photo_url %>
      </div>

      <%= f.button :submit, class: "form-actions" %>

    <% end %>
  </div>
<div>
