<div>
<li>
  <%= @superhero.name %>
  <%= @superhero.description %>
  <%= @superhero.superpower %>
  <%= @superhero.price %>
</li>
  <div>
    <%= link_to "Back to Superheros", superheros_path %>
  </div>
</div>
