
<div class="container d-flex", style='justify-content: center'>
  <div class="card-trip" style="width:300px">
    <img src="<%= @superhero.photo_url %>" class="img" >
    <div class="card-trip-infos">
      <div>
        <h2 class="card-title"><%= @superhero.name %></h2>
        <p class="card-text"><%= @superhero.description %></p>
        <p class="card-text"><%= @superhero.superpower %></p>
      </div>
      <h2 class="card-trip-pricing">£<%= @superhero.price %></h2>
      <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
    </div>
  </div>
  <div class= "w-50">
    <%= simple_form_for [@superhero, @booking] do |f| %>
    <%= f.input :start_date, html5: true %>
    <%= f.input :end_date, html5: true %>
    <%= f.submit "Book Superhero", class:"btn btn-primary" %>
    <% end %>
  </div>
  <div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <%= link_to "Back to Superheros", superheros_path, class:"btn btn-secondary", style:"text-align:center" %>
</div>
